<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Titulo que sera exibido na janela-->
    <title>Auto Elétrico Jorge</title>
    <!-- Bootstrap -->
     <link rel="stylesheet" href="../public/css/bootstrap.min.css">
     <!-- CSS Personalizado -->
      <link rel="stylesheet" href="../public/css/style.css">
      <!-- impedir a execução de scripts externos ou não autorizados -->
       <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline'">
</head>
<body>

    <div class="container button">
        <img src="../public/img/manutencao.png" alt="clientes" title="Cadastro de clientes">
        <img src="../public/img/carro.png" alt="Carro" title="Cadastro do Veículo">
        <img src="../public/img/OS.png" alt="Carro" title="Emissão de OS">
    </div>
    <footer>
        <p id="dataAtual"></p>
    </footer>
    
    <!-- Bootstrap -->
     <script src="../public/js/bootstrap.min.js"></script>
     <script src="../public/js/script.js"></script>

</body>
</html>